html {
  min-height: 100%;
  font-size: 100%;
  /* background: #ffffff; */
}

body {
  min-height: 100%;
  background-color: rgb(32, 32, 32);
  color: rgb(236, 233, 233);
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 90%;
  }
}